body{
    background-image: url(./../images/partnyorlarımız.svg);
    min-height: 1146px;
    background-position: bottom;
    background-size: cover;
}

.top-nav{
    background: #fff;
}
footer p, footer a{
    color: #fff!important;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partnyorlarimiz-section{
   width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnyorlarimiz-section h1{
    height: 65px;
    margin: 230px 0;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    color: #ffffff;
}

.partnyorlar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 4px;
    overflow: hidden;
}

.partnyor{
    width: 325px;
    height: 237px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: .5px solid rgba(43, 43, 43, 0.25);
    cursor: pointer;
}

.partnyor img{
    transition: all 300ms ease;
}

.partnyor:hover img{
    transform: scale(.9);
}

@media only screen and (max-width: 1310px){
    .partnyorlar{
        grid-template-columns: repeat(2, 1fr);
    }
    .partnyorlarimiz-section h1{
        margin: 200px 0;
        font-size: 3rem;
    }
}
@media only screen and (max-width: 1000px){
    .partnyorlar{
        grid-template-columns: repeat(2, 1fr);
    }
    .partnyor{
        width: 300px;
    }
    .partnyorlarimiz-section h1{
        margin: 100px 0;
        font-size: 2rem;
    }
}
@media only screen and (max-width: 650px){
    .partnyorlar{
        grid-template-columns: repeat(1, 1fr);
    }
    .partnyor{
        width: 300px;
    }
    .partnyorlarimiz-section h1{
        margin: 100px 0 30px;
        font-size: 1.5rem;
    }
}
